package views

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Finances</title>

			<script src="https://unpkg.com/htmx.org@2.0.2"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
			</head>
		<body hx-ext="response-targets">
			{ children... }
		</body>
	</html>
}
